:root {
  --juiPrimary: #4b63eb;
  --juiSecondary: #8526e4;
  --juiError: #e236b2;
  --juiStatus-progress: #3b53da;
  --juiStatus-complete: #3a9f6c;
  --juiStatus-failed: #e236b2;
  --juiStatus-info: #29a3e8;
  --juiStatus-boundary: #1cc8de;
  --juiStatus-alert: #27c977;
  --juiStatus-critical: #e0e329;
  --juiStatus-urgency: #ff981f;
  --juiGrey-50: rgba(255, 255, 255, 0.05);
  --juiGrey-100: rgba(255, 255, 255, 0.1);
  --juiGrey-200: rgba(255, 255, 255, 0.2);
  --juiGrey-300: rgba(255, 255, 255, 0.3);
  --juiGrey-400: rgba(255, 255, 255, 0.4);
  --juiGrey-500: rgba(255, 255, 255, 0.5);
  --juiGrey-600: rgba(255, 255, 255, 0.6);
  --juiGrey-700: rgba(255, 255, 255, 0.7);
  --juiGrey-800: rgba(255, 255, 255, 0.8);
  --juiGrey-900: #333333;
  --juiGrey-a100: #eeeeee;
  --juiGrey-a200: #e0e0e0;
  --juiGrey-a400: #9e9e9e;
  --juiGrey-a700: #3b4154;
  --juiBackground-default: #182036;
  --juiBackground-paper: rgba(255, 255, 255, 0.05);
  --juiBackground-solidPaper: #242b40;
  --juiBackground-input: rgba(0, 0, 0, 0.3);
  --juiBackground-skeleton: #3c4f6b;
  --juiBackground-tooltip: #3b4154;
  --juiBackground-popover: #101822;
  --juiBackground-tableHead: #3b4154;
  --juiText-primary: #fff;
  --juiText-secondary: rgba(255, 255, 255, 0.4);
  --juiText-disabled: #334259;
  --juiText-blue: #7a97ff;
  --juiText-purple: #9747ff;
  --juiText-tableHead: rgba(255, 255, 255, 0.5);
  --juiBorder-primary: #5a6372;
  --juiBorder-tableBottom: #30374b;
  --juiBorder-tableHead: #4b5062;
  --juiScore-veryLow: #8294ff;
  --juiScore-low: #5873ff;
  --juiScore-normal: #7635ff;
  --juiScore-high: #bc2fff;
  --juiScore-veryHigh: #fe3284;
  --juiScore-extra: #5630e3;
  --juiScore-practice: #232d5b;
  --juiScore-alert: #ff0000;
}

@theme {
  --juiPrimary: #4b63eb;
  --juiSecondary: #8526e4;
  --juiError: #e236b2;
  --juiStatus-progress: #3b53da;
  --juiStatus-complete: #3a9f6c;
  --juiStatus-failed: #e236b2;
  --juiStatus-info: #29a3e8;
  --juiStatus-boundary: #1cc8de;
  --juiStatus-alert: #27c977;
  --juiStatus-critical: #e0e329;
  --juiStatus-urgency: #ff981f;
  --juiGrey-50: rgba(255, 255, 255, 0.05);
  --juiGrey-100: rgba(255, 255, 255, 0.1);
  --juiGrey-200: rgba(255, 255, 255, 0.2);
  --juiGrey-300: rgba(255, 255, 255, 0.3);
  --juiGrey-400: rgba(255, 255, 255, 0.4);
  --juiGrey-500: rgba(255, 255, 255, 0.5);
  --juiGrey-600: rgba(255, 255, 255, 0.6);
  --juiGrey-700: rgba(255, 255, 255, 0.7);
  --juiGrey-800: rgba(255, 255, 255, 0.8);
  --juiGrey-900: #333333;
  --juiGrey-a100: #eeeeee;
  --juiGrey-a200: #e0e0e0;
  --juiGrey-a400: #9e9e9e;
  --juiGrey-a700: #3b4154;
  --juiBackground-default: #182036;
  --juiBackground-paper: rgba(255, 255, 255, 0.05);
  --juiBackground-solidPaper: #242b40;
  --juiBackground-input: rgba(0, 0, 0, 0.3);
  --juiBackground-skeleton: #3c4f6b;
  --juiBackground-tooltip: #3b4154;
  --juiBackground-popover: #101822;
  --juiBackground-tableHead: #3b4154;
  --juiText-primary: #fff;
  --juiText-secondary: rgba(255, 255, 255, 0.4);
  --juiText-disabled: #334259;
  --juiText-blue: #7a97ff;
  --juiText-purple: #9747ff;
  --juiText-tableHead: rgba(255, 255, 255, 0.5);
  --juiBorder-primary: #5a6372;
  --juiBorder-tableBottom: #30374b;
  --juiBorder-tableHead: #4b5062;
  --juiScore-veryLow: #8294ff;
  --juiScore-low: #5873ff;
  --juiScore-normal: #7635ff;
  --juiScore-high: #bc2fff;
  --juiScore-veryHigh: #fe3284;
  --juiScore-extra: #5630e3;
  --juiScore-practice: #232d5b;
  --juiScore-alert: #ff0000;
}

@theme inline {
  --color-juiPrimary: var(--juiPrimary);
  --color-juiSecondary: var(--juiSecondary);
  --color-juiError: var(--juiError);
  --color-juiStatus-progress: var(--juiStatus-progress);
  --color-juiStatus-complete: var(--juiStatus-complete);
  --color-juiStatus-failed: var(--juiStatus-failed);
  --color-juiStatus-info: var(--juiStatus-info);
  --color-juiStatus-boundary: var(--juiStatus-boundary);
  --color-juiStatus-alert: var(--juiStatus-alert);
  --color-juiStatus-critical: var(--juiStatus-critical);
  --color-juiStatus-urgency: var(--juiStatus-urgency);
  --color-juiGrey-50: var(--juiGrey-50);
  --color-juiGrey-100: var(--juiGrey-100);
  --color-juiGrey-200: var(--juiGrey-200);
  --color-juiGrey-300: var(--juiGrey-300);
  --color-juiGrey-400: var(--juiGrey-400);
  --color-juiGrey-500: var(--juiGrey-500);
  --color-juiGrey-600: var(--juiGrey-600);
  --color-juiGrey-700: var(--juiGrey-700);
  --color-juiGrey-800: var(--juiGrey-800);
  --color-juiGrey-900: var(--juiGrey-900);
  --color-juiGrey-a100: var(--juiGrey-a100);
  --color-juiGrey-a200: var(--juiGrey-a200);
  --color-juiGrey-a400: var(--juiGrey-a400);
  --color-juiGrey-a700: var(--juiGrey-a700);
  --color-juiBackground-default: var(--juiBackground-default);
  --color-juiBackground-paper: var(--juiBackground-paper);
  --color-juiBackground-solidPaper: var(--juiBackground-solidPaper);
  --color-juiBackground-input: var(--juiBackground-input);
  --color-juiBackground-skeleton: var(--juiBackground-skeleton);
  --color-juiBackground-tooltip: var(--juiBackground-tooltip);
  --color-juiBackground-popover: var(--juiBackground-popover);
  --color-juiBackground-tableHead: var(--juiBackground-tableHead);
  --color-juiText-primary: var(--juiText-primary);
  --color-juiText-secondary: var(--juiText-secondary);
  --color-juiText-disabled: var(--juiText-disabled);
  --color-juiText-blue: var(--juiText-blue);
  --color-juiText-purple: var(--juiText-purple);
  --color-juiText-tableHead: var(--juiText-tableHead);
  --color-juiBorder-primary: var(--juiBorder-primary);
  --color-juiBorder-tableBottom: var(--juiBorder-tableBottom);
  --color-juiBorder-tableHead: var(--juiBorder-tableHead);
  --color-juiScore-veryLow: var(--juiScore-veryLow);
  --color-juiScore-low: var(--juiScore-low);
  --color-juiScore-normal: var(--juiScore-normal);
  --color-juiScore-high: var(--juiScore-high);
  --color-juiScore-veryHigh: var(--juiScore-veryHigh);
  --color-juiScore-extra: var(--juiScore-extra);
  --color-juiScore-practice: var(--juiScore-practice);
  --color-juiScore-alert: var(--juiScore-alert);
}

.light {
  --juiBackground-default: #fff;
  --juiBackground-paper: rgba(0, 0, 0, 0.05);
  --juiBackground-solidPaper: #f2f2f2;
  --juiBackground-input: #fff;
  --juiBackground-skeleton: #e0e0e0;
  --juiBackground-tooltip: #3b4154;
  --juiBackground-popover: #fff;
  --juiBackground-tableHead: #e0e0e0;
  --juiText-primary: #333333;
  --juiText-secondary: rgba(0, 0, 0, 0.4);
  --juiText-disabled: #c7c7c7;
  --juiText-tableHead: #000;
  --juiBorder-primary: #d1d5db;
  --juiBorder-tableBottom: #eaeaea;
  --juiBorder-tableHead: #eaeaea;
}
